/.quarto/
/rds/
/csv/
/analises/*_cache
/analises/*_files
/analisesR8/*_cache
/analisesR8/*_files
/analisesv4/*_cache
/analisesv4/*_files
/analisesv5/*_cache
/analisesv5/*_files
/old/
/dbf/regrasV5*

/_freeze

